import { useState } from "react";

function App() {
  const [file, setFile] = useState(null);

  return (
    <div style={{
      minHeight: "100vh",
      background: "linear-gradient(135deg, #0f172a, #1e293b)",
      color: "white",
      display: "flex",
      flexDirection: "column",
      alignItems: "center",
      justifyContent: "center",
      fontFamily: "Arial"
    }}>

      <h1 style={{ fontSize: "40px" }}>🚀 Optimiseur de CV IA</h1>
      <p style={{ opacity: 0.7 }}>Améliore ton CV en quelques secondes</p>

      <div style={{
        marginTop: "30px",
        padding: "30px",
        border: "2px dashed #38bdf8",
        borderRadius: "15px",
        textAlign: "center",
        width: "300px"
      }}>
        <input
          type="file"
          onChange={(e) => setFile(e.target.files[0])}
        />

        {file && (
          <p style={{ marginTop: "10px" }}>
            📄 {file.name}
          </p>
        )}
      </div>

      <button style={{
        marginTop: "20px",
        padding: "10px 20px",
        borderRadius: "10px",
        border: "none",
        background: "#38bdf8",
        color: "black",
        cursor: "pointer"
      }}>
        Analyser mon CV
      </button>

    </div>
  );
}

export default App;