function App() {
  return (
    <div>
      <h1>Mon CV en ligne</h1>
      <p>Bienvenue sur mon site !</p>
    </div>
  );
}

export default App;function App() {
  return (
    <div style={{ 
      textAlign: "center", 
      marginTop: "100px",
      fontFamily: "Arial"
    }}>
      
      <h1>🚀 Optimiseur de CV IA</h1>

      <p>Upload ton CV pour l'améliorer avec l'IA</p>

      <input type="file" />

    </div>
  );
}

export default App;